accelerate==0.23.0
annotated-types==0.5.0
appnope==0.1.3
asttokens==2.4.0
attrs==23.1.0
backcall==0.2.0
beautifulsoup4==4.12.2
bertopic==0.15.0
bleach==6.1.0
blis==0.7.11
bokeh==3.3.4
boto3==1.28.61
botocore==1.31.61
bpemb==0.3.4
catalogue==2.0.10
certifi==2023.7.22
charset-normalizer==3.3.0
click==8.1.7
cloudpathlib==0.15.1
cloudpickle==2.2.1
comm==0.1.4
confection==0.1.3
conllu==4.5.3
contourpy==1.1.1
curated-tokenizers==0.0.8
curated-transformers==0.1.1
cycler==0.12.0
cymem==2.0.8
Cython==0.29.36
dask==2023.12.1
debugpy==1.8.0
decorator==5.1.1
Deprecated==1.2.14
en-core-web-md @ https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.7.1/en_core_web_md-3.7.1-py3-none-any.whl#sha256=6a0f857a2b4d219c6fa17d455f82430b365bf53171a2d919b9376e5dc9be032e
en-core-web-trf @ https://github.com/explosion/spacy-models/releases/download/en_core_web_trf-3.7.2/en_core_web_trf-3.7.2-py3-none-any.whl#sha256=dd56d80640411c2e81c3b0cfcb6068156a459c259ae11a4ea51c625c751e3e0a
executing==2.0.0
fastjsonschema==2.18.1
filelock==3.12.4
flair==0.12.2
fonttools==4.43.1
fsspec==2023.9.2
ftfy==6.1.1
funcy==2.0
future==0.18.3
gdown==4.4.0
gensim==4.3.2
huggingface-hub==0.17.3
hyperopt==0.2.7
idna==3.4
imageio==2.33.1
importlib-metadata==7.0.0
ipykernel==6.25.2
ipython==8.16.1
ipython_pygments_lexers==1.1.1
ipywidgets==8.1.1
Janome==0.5.0
jedi==0.19.1
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.3.2
jsonpickle==4.1.1
jsonschema==4.19.1
jsonschema-specifications==2023.7.1
jupyter_client==8.3.1
jupyter_core==5.3.2
jupyterlab-widgets==3.0.9
kiwisolver==1.4.5
langcodes==3.3.0
langdetect==1.0.9
lazy_loader==0.3
linkify-it-py==2.0.2
llvmlite==0.41.1
locket==1.0.0
lxml==4.9.3
Markdown==3.5.1
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.8.0
matplotlib-inline==0.1.6
mdit-py-plugins==0.4.0
mdurl==0.1.2
more-itertools==10.1.0
mpld3==0.3
mpmath==1.3.0
multipledispatch==1.0.0
murmurhash==1.0.10
nbformat==5.9.2
nest-asyncio==1.5.8
networkx==3.1
nltk==3.8.1
numba==0.58.1
numexpr==2.8.8
numpy==1.26.0
packaging==23.2
pandas==2.1.1
panel==1.3.5
param==2.0.1
parso==0.8.3
partd==1.4.1
pathy==0.10.2
patsy==1.0.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==10.0.1
platformdirs==3.11.0
plotly==5.17.0
plotly-express==0.4.1
pptree==3.1
preshed==3.0.9
prompt-toolkit==3.0.39
protobuf==4.24.4
psutil==5.9.5
ptyprocess==0.7.0
pure-eval==0.2.2
py4j==0.10.9.7
pyct==0.5.0
pydantic==2.4.2
pydantic_core==2.10.1
Pygments==2.16.1
pyLDAvis==3.4.1
pynndescent==0.5.10
pyparsing==3.1.1
PySocks==1.7.1
python-dateutil==2.8.2
pytorch_revgrad==0.2.0
pytz==2023.3.post1
pyvis==0.3.2
pyviz_comms==3.0.0
PyYAML==6.0.1
pyzmq==25.1.1
referencing==0.30.2
regex==2023.10.3
requests==2.31.0
rpds-py==0.10.6
s3transfer==0.7.0
safetensors==0.3.3
scikit-learn==1.3.1
scipy==1.11.3
seaborn==0.13.0
segtok==1.5.11
sentence-transformers==2.2.2
sentencepiece==0.1.99
six==1.16.0
smart-open==6.4.0
soupsieve==2.5
spacy==3.7.2
spacy-alignments==0.9.1
spacy-curated-transformers==0.2.0
spacy-legacy==3.0.12
spacy-loggers==1.0.5
spacy-transformers==1.3.1
sqlitedict==2.1.0
srsly==2.4.8
stack-data==0.6.3
statsmodels==0.14.5
sympy==1.12
tabulate==0.9.0
tenacity==8.2.3
thinc==8.2.1
threadpoolctl==3.2.0
tifffile==2023.12.9
tokenizers==0.13.3
toolz==0.12.0
torch==2.1.0
torchvision==0.16.0
tornado==6.3.3
tqdm==4.66.1
traitlets==5.11.2
transformer-smaller-training-vocab==0.3.2
transformers==4.33.3
typer==0.9.0
typing_extensions==4.8.0
tzdata==2023.3
uc-micro-py==1.0.2
umap-learn==0.5.4
urllib3==1.26.17
wasabi==1.1.2
wcwidth==0.2.8
weasel==0.3.2
webencodings==0.5.1
widgetsnbextension==4.0.9
Wikipedia-API==0.6.0
wordcloud==1.9.3
wrapt==1.15.0
xarray==2023.12.0
xyzservices==2023.10.1
zipp==3.17.0
